/.metadata/

.metadata/

/Servers/
Servers/
/RemoteSystemsTempFiles/
/.recomenders/
.recomenders/
/Servers/*
/TRMS\target\m2e-wtp\web-resources\META-INF\maven\com.revature.TRMS\TRMS\pom.properties
/TRMS/target/m2e-wtp/web-resources/META-INF/maven/com/revature/TRMS/TRMS/pom.properties
.recomenders